.main {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 100vh;
}

.move-btn {
	position: absolute;
	top: 10px;
	left: 10px;
}
